.postDeatilsSkelton {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;

    .postInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .author {
            display: flex;
            align-items: center;
            gap: 1rem;

            .username{
                width: 100px;
                height: 20px;
            }

            .avatar {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }

        .date {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1rem;

            div{
                width: 100px;
                height: 20px;
            }
        }
    }

    .postPhoto {
        border-radius: 3px;
        height: 400px;
    }

}