.post {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 2.4rem;

    @include media-breakpoint(md) {
        flex-direction: row;
    }

    .image {
        width: 100%;

        @include media-breakpoint(md) {
            width: 50%;
            height: 320px;
        }

        height: 280px;

        .postImage {
            border-radius: 2.5px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        // padding-block: 10px;
        width: 100%;

        @include media-breakpoint(md) {
            width: 50%;
        }

        text-align: justify;

        .title {
            font-size: 1.8rem;
            font-weight: 700;
            color: $color-primary;
            text-align: start;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.2em;
            max-height: calc(1.2em *2);

        }

        .avatar {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1.1rem;
            color: lighten($color: $color-primary, $amount: 20%);
            font-weight: 500;


            .author {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                font-size: 1rem;

                .dateUsername {
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;
                }

                .date {
                    font-size: 0.9rem;
                }
            }
        }

        .summary {
            font-size: 1rem;
            color: $color-secondary;
            width: 100%;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.5em;
            max-height: calc(1.5em * 4);
            word-wrap: break-word;
        }

        .readMore{
            color:$color-secondary;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
            text-decoration: underline;
            text-align: start;
            display: flex;
            gap: 0.5rem;
            align-items: center;

        }
    }
}